<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parks</title>
</head>

<body>
    <h1>All National Parks</h1>
    <div>
        <a href="/parks/new">Add Park</a>
    </div>
    <ul>
        <% for (let park of parks){%>
        <li><a href="/parks/<%= park._id %>"><%= park.title %></a></li>
        <% }%>
    </ul>

</body>

</html>